<form method="POST" action="/create-post" enctype="multipart/form-data" >

  {{!-- <label for="title">Title</label>
  <input type="text" id="title" name="title" placeholder="title"  required> --}}
  
  <label for="post">Your post</label>
  <textarea id="post" name="content" placeholder="Write anything" rows="8" cols="45"></textarea>

  <label for="file-name"></label>
  <input type="text" id="file-name" name="picName" placeholder="File name">

  <label for="file">Select a file</label>
  <input type="file" id="file" name="picPath" accept="image/png, image/jpeg">
  <button>Submit post</button>

</form>
